[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
vispy = "*"
pysdl2 = "*"

[dev-packages]
python-language-server = {extras = ["all"], version = "*"}

[requires]
python_version = "3.6"

[scripts]
main = "python main.py"
